@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(60, 60, 68);
    font-size: 120%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

.card {
    background: linear-gradient(45deg, rgba(87, 87, 87, 0.416), rgba(87, 87, 87, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0 , 0, 0, 0.37);
    color: rgb(255, 255, 255);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    font-size: 20px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background-color: #7c7c7ca4;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover{
    background-color: #7c7c7c58;
}

.search-bar{
    border-radius: 30px;
    border: none;
    width: calc(100% - 100px);
    outline: none;
    padding: 0.4em 1em;
    background: #7c7c7c71;
    font-family: inherit;
    color: white;
    font-size: 100%;
}

.search-bar::placeholder{
    color: white;
}

h1.temp{
    font-size: 3em;
    margin: 0 0 0.4em;
}

.flex{
    display: flex;
    align-items: center;
}

.description{
    text-transform: capitalize;
    margin-left: 10px;
}

.copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
    font-size: 0.5em;
    color: white;
}